html, body {
  margin: 0;
}

#container {
  margin: 0 auto;
  width: 800px;
}

#frame {
  position: relative;
  height: 600px;
}

#frame > * {
  position: absolute;
  top: 0;
  left 0;
  transform: RotateY(180deg);
}

#mode {
  display: none;
}

#mode + label {
  background-color: #777;
  border: 4px inset #555;
}

#mode:checked + label {
  background-color: #ff6;
  border: 4px inset #ee5;
}

#label {
  margin-top: 2px;
  display: block;
  height: 90px;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  padding-top: 5px;
}
